div{
    text-align: center;
}

a{
    text-decoration: none;
}

#time-source{
    color:gray;
    font-size: 13px;
}

.title{
    text-align: center;
}

.paragraph{
    text-align: left;
    font-size: 18px;
    font-family: 'Microsoft Yahei';
    font-weight: 500;
    text-indent: 2em;
}

.picture{
    width: 800px;
    /* text-align: center; */
}

.end{
    color: gray;
    font-size: 13px;
}